.new-title{
  padding-top: 100px;
  text-align: center;
  font-size: 20px;
}

.form{
  padding: 40px 30vw 0;

  #item_image{
    width: 100vw;
    margin-bottom: 30px;
  }

  #item_detail{
    width: 40vw;
    height: 25vh;
  }
}