.header{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 60px;
  width: 100vw;
  padding: 15px;
  border-bottom: solid 1px #eeeeee;
  position: fixed;
  background: white;

  &__title{
    float: left;
    margin-left: 15px;
    line-height: 30px;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: bold;

    a{
      text-decoration: none;
      color: #6BC3FA;
    }
  }

  &__user{
    float: right;
    line-height: 30px;
    font-size: 17px;
    margin-left: 5px;

    a{
      text-decoration: none;
      color: #535555;
    }
  }

  &__profile{
    float: right;
    margin-left: 14px;

    img{
      width: 35px;
      height: 35px;
      border-radius: 25px;
      border: solid 1px #eeeeee;
    }
  }

  &__button{
    float: right;
    padding: 0 10px;
    margin-left: 10px;
    line-height: 30px;
    font-size: 12px;
    border: solid 1px;
    border-radius: 8px;
    
    a{
      text-decoration: none;
      color: #535555;
    }
  }
}