.title{
  padding: 80px 40px 0;
  font-size: 18px;
}

.main{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 40px;
  display: flex;
  flex-wrap: wrap;

  &__item{
    width: 22vw;
    margin: 10px 4px;
    border: solid 1px #eeeeee;
    box-shadow: 2px 2px 4px #eeeeee;
    border-radius: 6px;

    &--image{
      height: 22vw;
      width: 22vw;
      object-fit: cover;
      border-radius: 6px;
    }

    &__profile{
      float: left;

      &--image{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 25px;
        border: solid 1px #eeeeee;
      }
    }

    &__user{
      float: left;
      padding-left: 4px;
      padding-top: 6px;

      a{
        text-decoration: none;
        color: #535555;
      }
    }

    &__heart{
      float: right;
      padding-right: 6px;
      padding-top: 6px;
      
      a{
        text-decoration: none;
      }
      .heart-like{
        color: #F86082;
      }
      .heart-unlike{
        color: #535555;
      }
    }

    &__comment{
      float: right;
      padding-right: 6px;
      padding-top: 6px;
    }
  }
}