.user{
  padding-top: 90px;
  margin: 0 auto;
  width: 65vw;
  display: flex;

  &__profile{
    img{
      width: 19vw;
      height: 19vw;
      object-fit: cover;
      border-radius: 150px;
      border: solid 1px #eeeeee;
    }
  }

  &__box{
    padding-left: 60px;
    padding-top: 35px;
    width: 25vw;

    &__name{
      font-size: 23px;
      text-align: center;
      padding-bottom: 20px;
    }

    &__data{
      display: flex;
      justify-content: space-between;
      text-align: center;

      &__post{
        font-size: 16px;
        padding-bottom: 6px;
      }
    }
  }

  &__follow{
    padding-left: 55px;
    padding-top: 70px;
    font-size: 40px;
    color: #979EA3;
  }
}

.user-title{
  padding: 60px 40px 0;
  font-size: 18px;
}

