.user{
  padding-top: 90px;
  margin: 0 auto;
  width: 65vw;
  display: flex;

  &__profile{
    img{
      width: 19vw;
      height: 19vw;
      object-fit: cover;
      border-radius: 150px;
      border: solid 1px #eeeeee;
    }
  }

  &__box{
    padding-left: 60px;
    padding-top: 35px;
    width: 25vw;

    &__name{
      font-size: 23px;
      text-align: center;
      padding-bottom: 20px;
    }

    &__data{
      display: flex;
      justify-content: space-between;
      text-align: center;

      a{
        text-decoration: none;
        color: #535555;
      }

      &__post{
        font-size: 16px;
        padding-bottom: 6px;
      }
    }
  }

  &__follow{
    padding-left: 55px;
    padding-top: 80px;

    &__icon{

      .follows{
        width: 11vw;
        border-radius: 4%;
        font-size: 13px;
        padding: 12px;
        color: #535555;
      }
    }
  }
}

.follow-name{
  margin-top: 40px;
  padding: 0 40vw;
  
  &__title{
    text-align: center;
  }

  &__box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vh;
    border-radius: 5px;
    border: solid 1px #eeeeee;

    &__profile{
      width: 10vw;
      padding-top: 1vh;
      padding-left: 1vh;

      img{
        width: 8vw;
        height: 8vw;
        object-fit: cover;
        border-radius: 100px;
        border: solid 1px #eeeeee;
      }
      
    }

    &__user{
      width: 9vw;
      text-align: center;
      padding-top: 5vh;
      font-size: 18px;

      a{
        text-decoration: none;
        color: #535555;
      }
    }
  }
}

.user-title{
  padding: 60px 40px 0;
  font-size: 18px;
}

